# build artifacts
*.jar
*.class
build/
target/

# 3rd party
jquery*.js
bootstrap.css

# backup files
*~
*.old/

# IntelliJ
*.iml
.idea/

# Eclipse
.settings/
.project
.classpath

# NetBeans
nbactions.xml
nb-configuration.xml
/jeux-web/WebContent/css/bootstrap.min.css