@CHARSET "UTF-8";

* {
	font-family: 'Droid Sans', sans-serif;
}

.title {
	font-weight:bold;
}

table {
	border-style: none;
    rules: rows;
}
	
th {
    background: #000;
	color: #fff;
	font-weight: normal;
    padding: 2px 5px 2px 5px;
}

th.gamesets-header {
	background: blue;
	color: white;
}

table tr:nth-child(odd) td {
	background-color: #fff;
	padding: 2px 5px 2px 5px;
}

table tr:nth-child(even) td {
	background-color: #E0E0D1;
	padding: 2px 5px 2px 5px;
}
