{% extends "admin-base" %}

{% block title %}
{{ i18n("AdminGUI", "Groups") }}
{% endblock %}

{% block content %}

<div>
    <h3>
        {{ i18n("AdminGUI", "Groups") }}
    </h3>

    {% if groups is not empty %}
    <table class="table table-hover table-bordered table-condensed">
        <tr>
            <th>{{ i18n("AdminGUI", "Name") }}</th>
            <th>{{ i18n("AdminGUI", "Round") }}</th>
            <th>{{ i18n("AdminGUI", "Minimum_sets_per_game") }}</th>
            <th>{{ i18n("AdminGUI", "Maximum_sets_per_game") }}</th>
            <th>{{ i18n("AdminGUI", "Active") }}</th>
            <th>{{ i18n("AdminGUI", "Completed") }}</th>
            <th>{{ i18n("AdminGUI", "Games") }}</th>
            <th></th>
        </tr>
        {% for group in groups %}
        <tr>
            <td>{{ group.name }}</td>
            <td>{{ group.roundId }}</td>
            <td>{{ group.minSets }}</td>
            <td>{{ group.maxSets }}</td>
            <td>
                {% if group.active %}
                {{ i18n("AdminGUI", "yes") }}
                {% else %}
                {{ i18n("AdminGUI", "no") }}
                {% endif %}
            </td>
            <td>
                {% if group.completed %}
                {{ i18n("AdminGUI", "yes") }}
                {% else %}
                {{ i18n("AdminGUI", "no") }}
                {% endif %}
            </td>
            <td>
                {% if group.size > 1 and not group.hasGames %}
                <input type="submit" class="btn btn-success"
                       value="{{ i18n('AdminGUI', 'Generate') }}"
                       onclick="generateGames(this, '{{ group.id }}', false, '{{ prefix }}');">
                {% endif %}
                <input type="submit" class="btn btn-default"
                       value="{{ i18n('AdminGUI', 'List_verb') }}"
                       onclick="getShuffledGames('{{ group.id }}', 'html', '{{ prefix }}');">
                <input type="submit" class="btn btn-default"
                       value="Scoresheets"
                       onclick="getShuffledGames('{{ group.id }}', 'latex', '{{ prefix }}');">
            </td>
            <td>
                <input type="submit" class="btn btn-danger"
                       value="{{ i18n('AdminGUI', 'Delete') }}"
                       onclick="deleteGroup({{ group.id }}, '{{ prefix }}');">
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

<div>
    <h3>
        {{ i18n("AdminGUI", "Create_group") }}
    </h3>
    <form id="create-group" action="#" role="form">
        <div class="form-group">
            <label for="name">
                {{ i18n("AdminGUI", "Name") }}
            </label>
            <input type="text" class="form-control" id="name" placeholder="{{ i18n('AdminGUI', 'Group_name') }}" />
        </div>
        <div class="form-group">
            <label for="round">
                {{ i18n("AdminGUI", "Round") }}
            </label>
            <input id="round" class="form-control" placeholder="{{ i18n('AdminGUI', 'Round_number') }}" type="number" min="1" />
        </div>
        <div class="form group">
            <label for="min-sets">
                {{ i18n("AdminGUI", "Minimum_sets_per_game") }}
            </label>
            <input id="min-sets" class="form-control" placeholder="{{ i18n('AdminGUI', 'Minimum_sets_per_game') }}" type="number" min="1" />
        </div>
        <div class="form group">
            <label for="max-sets">
                {{ i18n("AdminGUI", "Maximum_sets_per_game") }}
            </label>
            <input id="max-sets" class="form-control" placeholder="{{ i18n('AdminGUI', 'Maximum_sets_per_game') }}" type="number" min="1" />
        </div>
        <div class="form group">
            <label for="group-active">
                <input id="group-active" type="checkbox" />
                {{ i18n("AdminGUI", "Active") }}
            </label>
        </div>
        <input id="submit-create-group" type="submit" value="{{ i18n('AdminGUI', 'Create') }}"
               onclick="createNewGroup(this, '{{ prefix }}');"
               class="btn btn-success" />
    </form>
    <div id="user-feedback">
    </div>
</div>

<div>
    <h3>{{ i18n("AdminGUI", "Import") }}</h3>

    <form action="groups/import" method="post" enctype="multipart/form-data">
        <p><input type="file" name="file" class="btn btn-file"></p>
        <input type="submit" class="btn btn-warning" value="{{ i18n('AdminGUI', 'Import_JSON_beta') }}">
    </form>

    <input type="submit" class="btn btn-default" value="{{ i18n('AdminGUI', 'Example') }}"
           onclick="$('#input-example').toggle()">
    <div id="input-example" hidden="hidden">
        <code>
            <pre>
[
    {
        "name": "Group A",
        "minSets": 1,
        "maxSets": 1,
        "roundId": 1,
        "active": true,
        "players": [
            "Player A. 1",
            "Player A. 2",
            "Player A. 3"
        ]
    },
    {
        "name": "Group B",
        "minSets": 1,
        "maxSets": 1,
        "roundId": 1,
        "active": true,
        "players": [
            "Player B. 1",
            "Player B. 2",
            "Player B. 3"
        ]
    },
    {
        "name": "Group C",
        "minSets": 2,
        "maxSets": 3,
        "roundId": 2,
        "active": false,
        "players": []
    },
    {
        "name": "Group D",
        "minSets": 2,
        "maxSets": 3,
        "roundId": 2,
        "active": false,
        "players": []
    }
]
            </pre>
        </code>
    </div>

</div>


{% endblock %}