{% extends "admin-base" %}

{% block script %}
<script>
    $(document).ready(function () {
    "use strict";
            getApiStatus($("#api-status"), '{{ prefix }}');
    });
</script>
{% endblock %}

{% block title %}
Jeux {{ i18n('AdminGUI', 'Admin_view') }}
{% endblock %}

{% block content %}

<hr>

<div id="groups">
    <p>
        <a href="groups">
            <button class="btn btn-lg btn-info">
                {{ i18n('AdminGUI', 'Groups') }}
            </button>
        </a>
    </p>
</div>

<div id="players">
    <p>
        <a href="players">
            <button class="btn btn-lg btn-info">
                {{ i18n('AdminGUI', 'Players') }}
            </button>
        </a>
    </p>
</div>

<div id="rules">
    <p>
        <a href="rules">
            <button class="btn btn-lg btn-info">
                {{ i18n('AdminGUI', 'Roundswitch_rules') }}
            </button>
        </a>
    </p>
</div>

<div id="unplayed">
    <p>
        <a href="games/unplayed">
            <button class="btn btn-lg btn-info">
                {{ i18n('AdminGUI', 'Unplayed_games') }}
            </button>
        </a>
    </p>
</div>

<div id="played">
    <p>
        <a href="games/played">
            <button class="btn btn-lg btn-info">
                {{ i18n('AdminGUI', 'Played_games') }}
            </button>
        </a>
    </p>
</div>

<div id="log">
    <p>
        <a href="{{ prefix }}/rest/admin/log">
            <button class="btn btn-lg btn-default">
                Log
            </button>
        </a>
    </p>
</div>

<hr>

<div id="api-status">
</div>
<div id="version-info">
    ${name} (built ${timestamp})
</div>
{% endblock %}

