{% extends "admin-base" %}

{% block title %}
{{ i18n("AdminGUI", "Players") }}
{% endblock %}

{% block content %}

<div>
    <h3>
        {{ i18n("AdminGUI", "Players") }}
    </h3>
    {% if players is not empty %}
    <table class="table table-hover table-bordered table-condensed">
        <tr>
            <th>{{ i18n("AdminGUI", "Name") }}</th>
            <th>{{ i18n("AdminGUI", "Group") }}</th>
            <th></th>
        </tr>
        {% for player in players | sort %}
        <tr>
            <td>{{ player.name }}</td>
            <td>{{ player.groupName }}</td>
            <td>
                <input type="submit" class="btn btn-danger"
                       value="{{ i18n('AdminGUI', 'Delete') }}"
                       onclick="deletePlayer({{ player.id }}, '{{ prefix }}');">
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    {{ i18n("AdminGUI", "No_players_found") }}
    {% endif %}
</div>

<div>
    <h3>
        {{ i18n("AdminGUI", "Create") }}
    </h3>
    <form id="create-player" action="#" role="form">
        <div class="form-group">
            <label for="name">{{ i18n("AdminGUI", "Name") }}</label>
            <input id="name" type="text" class="form-control" placeholder="{{ i18n("AdminGUI", "Name") }}" />
        </div>
        <div class="form-group">
            <label for="player-select-group">
                {{ i18n("AdminGUI", "Group") }}
            </label>
            <select id="player-select-group" class="form-control">
                <option id="no-group-selected">
                    {{ i18n("AdminGUI", "Select...") }}
                </option>
                {% for group in groups %}
                <option id="group-id-{{ group.id }}">
                    {{ group.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        <input id="submit-create-player" type="submit" value="{{ i18n('AdminGUI', 'Create') }}" onclick="createNewPlayer(this, '{{ prefix }}');"
               class="btn btn-success" />
    </form>
    <div id="user-feedback">
    </div>
</div>

{% endblock %}