{% extends "admin-base" %}

{% block title %}
{{ i18n("AdminGUI", "Played_games") }}
{% endblock %}

{% block content %}

{% for g in gamesByGroup %}
{% if g.games is not empty %}
<div>
    <a href="#group-{{ loop.index }}">
        {{ i18n("AdminGUI", "Go_to") }} {{ g.group.name }}
    </a>
</div>
{% endif %}
{% endfor %}

<div>
    <h2>
        {{ i18n("AdminGUI", "Played_games") }}
    </h2>
    {% for g in gamesByGroup %}
    {% if g.games is not empty %}

    <h3>
        {{ g.group.name }}
    </h3>

    {% for game in g.games | sort %}
    {{ game.playedAt }}
    <table class="table table-bordered table-condensed">
        <tr id="game-id-{{ game.id }}">
            <th>{{ i18n("AdminGUI", "Set") }}</th>
            <th id="player-id-{{ game.player1Id }}">{{ game.player1Name }}</th>
            <th id="player-id-{{ game.player2Id }}">{{ game.player2Name }}</th>
        </tr>
        {% for set in game.sets | sort %}
        <tr id="gameset-id-{{ set.id }}">
            <td>{{ set.number }}</td>
            <td class="player1-score">
                <input type="number" class="form-control" min="0"
                       value="{{ set.player1Score }}">
            </td>
            <td class="player2-score">
                <input type="number" class="form-control" min="0"
                       value="{{ set.player2Score }}">
            </td>
        </tr>
        {% else %}
        {% endfor %}
        <tr>
            <td>
                <input type="submit" value="{{ i18n('AdminGUI', 'Update') }}"
                       class="btn btn-warning update-game"
                       onclick="updateGame(this, {{ game.id }},
                       {{ game.player1Id }}, {{ game.player2Id }},
                           'update', '{{ prefix }}');">
            </td>
        </tr>
    </table>
    {% endfor %}

    {% endif %}

    {% endfor %}
</div>

{% endblock %}