{% extends "admin-base" %}

{% block title %}
Groups
{% endblock %}

{% block content %}

<div>
    <h3>
        Groups
    </h3>

    {% if groups is not empty %}
    <table class="table table-hover table-bordered table-condensed">
        <tr>
            <th>Name</th>
            <th>Round</th>
            <th>Min sets</th>
            <th>Max sets</th>
            <th>Active?</th>
            <th>Completed?</th>
            <th>Games</th>
            <th>Delete</th>
        </tr>
        {% for group in groups %}
        <tr>
            <td>{{ group.name }}</td>
            <td>{{ group.roundId }}</td>
            <td>{{ group.minSets }}</td>
            <td>{{ group.maxSets }}</td>
            <td>{{ group.active }}</td>
            <td>{{ group.completed }}</td>
            <td>
                <input type="submit" class="btn btn-success"
                       value="Generate"
                       onclick="generateGames(this, '{{ group.id }}', false, '{{ prefix }}');">
                <input type="submit" class="btn btn-default"
                       value="List"
                       onclick="getShuffledGames('{{ group.id }}', 'html', '{{ prefix }}');">
                <input type="submit" class="btn btn-default"
                       value="Scoresheets"
                       onclick="getShuffledGames('{{ group.id }}', 'latex', '{{ prefix }}');">
            </td>
            <td>
                <input type="submit" class="btn btn-danger"
                       value="Delete group"
                       onclick="deleteGroup({{ group.id }}, '{{ prefix }}');">
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    No groups found.
    {% endif %}
</div>

<div>
    <h3>
        Create group
    </h3>
    <form id="create-group" action="#" role="form">
        <div class="form-group">
            <label for="name">
                Name
            </label>
            <input type="text" class="form-control" id="name" placeholder="Group name" />
        </div>
        <div class="form-group">
            <label for="round">
                Round
            </label>
            <input id="round" class="form-control" placeholder="Round number" type="number" min="1" />
        </div>
        <div class="form group">
            <label for="min-sets">
                Minimum set(s) per game
            </label>
            <input id="min-sets" class="form-control" placeholder="Min sets" type="number" min="1" />
        </div>
        <div class="form group">
            <label for="max-sets">
                Maximum set(s) per game
            </label>
            <input id="max-sets" class="form-control" placeholder="Max sets" type="number" min="1" />
        </div>
        <div class="form group">
            <label for="group-active">
                <input id="group-active" type="checkbox" />
                Active?
            </label>
        </div>
        <input id="submit-create-group" type="submit" value="Create group"
               onclick="createNewGroup(this, '{{ prefix }}');"
               class="btn btn-success" />
    </form>
    <div id="user-feedback">
    </div>
</div>


{% endblock %}