{% extends "audience-base" %}

{% block title %}
{{ i18n("AudienceGUI", "Rankings") }} {{ group.name }}
{% endblock %}

{% block content %}
<h3>
    {{ group.name }}
    {% if group.completed %}
    ({{ i18n("AudienceGUI", "final") }})
    {% endif %}
</h3>

{% if rankings is not empty %}
<table class="table table-hover table-bordered table-condensed">
    <tr>
        <th>
            {{ i18n("AudienceGUI", "Rank") }}
        </th>
        <th>
            {{ i18n("AudienceGUI", "Name") }}
        </th>
        <th>
            {{ i18n("AudienceGUI", "Won_games") }}
        </th>
        <th>
            {{ i18n("AudienceGUI", "Points") }}
        </th>
        <th>
            {{ i18n("AudienceGUI", "Score_ratio") }}
        </th>
    </tr>
    {% for ranking in rankings %}
    <tr>
        <td>
            {{ ranking.rank }}
        </td>
        <td>
            <a href="{{ prefix }}/games/player/{{ ranking.id }}">
                {{ ranking.name }}
            </a>
        </td>
        <td>
            {{ ranking.wonGames }}
        </td>
        <td>
            {{ ranking.points }}
        </td>
        <td>
            {{ ranking.scoreRatio }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
{% block overviewlink %}
{{ prefix }}
{% endblock %}