{% extends "audience-base" %}

{% block title %}
{{ i18n("AudienceGUI", "Games") }} {{ playerName }}
{% endblock %}

{% block content %}
<h3>{{ playerName }}</h3>
{% if wonGames is not null and countPlayedGames is not null and pctgWon is not null and streak is not null %}
<div>
    <p>
        {{ i18n("AudienceGUI", "Won") }} {{ wonGames }} {{ i18n("AudienceGUI", "of") }} {{ countPlayedGames }} ({{ pctgWon | numberformat("#.##") }}%)
    </p>
    <p>
        {{ i18n("AudienceGUI", "Streak") }}: {{ streak }}
    </p>
</div>
{% endif %}
<br />

{% include "audience-games" %}

{% endblock %}
{% block overviewlink %}
{{ prefix }}
{% endblock %}