{% extends "audience-base" %}

{% block content %}
<h3></h3>
{% for group in groups %}
<div>
    <p>
        <a class="btn btn-primary btn-lg" href="{{ prefix }}/rankings/group/{{ group.id }}">
            Rankings {{ group.name }}
            {% if group.completed %}
            (final)
            {% endif %}
        </a>
        &nbsp;
        <a class="btn btn-default btn-lg" href="{{ prefix }}/results/group/{{ group.id }}">
            Results {{ group.name }}
        </a>
    </p>
</div>
{% endfor %}
{% endblock %}