{% extends "audience-base" %}

{% block content %}
{% set currentRound = 0 %}
{% for group in groups %}
{% if group.roundId > currentRound %}
{% set currentRound = group.roundId %}
<h3>{{ i18n("AudienceGUI", "Round") }} {{ currentRound }}</h3>
{% endif %}
<div>
    <p>
        <a class="btn btn-primary btn-lg" href="{{ prefix }}/rankings/group/{{ group.id }}">
            {{ i18n("AudienceGUI", "Rankings") }} {{ group.name }}
            {% if group.completed %}
            ({{ i18n("AudienceGUI", "final") }})
            {% endif %}
        </a>
        &nbsp;
        <a class="btn btn-default btn-lg" href="{{ prefix }}/games/group/{{ group.id }}">
            {{ i18n("AudienceGUI", "Games") }} {{ group.name }}
        </a>
    </p>
</div>
{% endfor %}
{% endblock %}