{% extends "base" %}

{% block title %}
Rankings {{ group.name }}
{% endblock %}

{% block content %}
<h3>
    {{ group.name }}
    {% if group.completed %}
    (final)
    {% endif %}
</h3>

{% if rankings is empty %}
No rankings available
{% else %}
<table class="table table-hover table-bordered table-condensed">
    <tr>
        <th>
            Rank
        </th>
        <th>
            Name
        </th>
        <th>
            Won games
        </th>
        <th>
            Points
        </th>
        <th>
            Score ratio
        </th>
    </tr>
    {% for ranking in rankings %}
    <tr>
        <td>
            {{ ranking.rank }}
        </td>
        <td>
            <a href="{{ prefix }}/results/player/{{ ranking.id }}">
                {{ ranking.name }}
            </a>
        </td>
        <td>
            {{ ranking.wonGames }}
        </td>
        <td>
            {{ ranking.points }}
        </td>
        <td>
            {{ ranking.scoreRatio }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
{% block overviewlink %}
{{ prefix }}
{% endblock %}